.score {
    background-color: blue;
    width: 100px;
    height: 100px;
}

#gameboard {
    background-color: green;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

#gameboard > div {
    width: 100px;
    height: 100px;
    text-align: center;
}