.top-section {
    border: 1px solid green;
    height: 200px;
    width: 612px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
}

h1 {
    display: flex;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
    color: #2b4353;
    font-family: 'Rubik', sans-serif;
    font-size: 100px;
    margin: auto;
}

.score {
    background-color:#a2a8d3;
    border: 3px solid #38598b;
    color: white;
    width: 120px;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: 'Rubik', sans-serif;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 25px;
}

button {
    display: inline-block;
    margin-top: 20px;
    background-color:#a2a8d3;
    border: 3px solid #38598b;
    color: white;
    width: 120px;
}

h3 {
    text-align: center;
}

body {
    /* border: 1px solid orange; */
    width: 100%;
    margin: auto;
    background-color: #ececec;
}

#gameboard {
    background-color: #e7eaf6;
    width: 612px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid #2b4353;
}

#gameboard > div {
    width: 150px;
    height: 150px;
    border: 1.5px solid #2b4353;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
}
.hidden {
    color: #e7eaf6;
}

.winner {
    display: none;
}
.loser {
   display: none;
}

.show {
    color: #2b4353;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

.zero {
    background-color: #e7eaf6;;
}
.two{
    background-color: #e3f6f5 ;
}

.four {
    background-color: #bae8e8;
}
.eight {
    background-color: #a2a8d3 ;
}
.sixteen{
    background-color: #8594e4;
}

.thirty-two {
    background-color: #6643b5; 
    color: white;
}

.sixty-four {
    background-color: #430f58; 
    color: white;
}

.one-twenty-eight {
    background-color: #38598b;
    color: white;
}

.two-fifty-six {
    background-color:  #113f67;
    color: white;
}

.five-twelve {
    background-color:  #3d84a8;
    color: white;
}

.one-zero-two-four {
    background-color: #46cdcf; 
}

.twenty-forty-eight {
    background-color: #abedd8; 
}